# pandas

Pandas 是 Python 语言的一个扩展程序库，用于数据分析。

Pandas 是一个开放源码、BSD 许可的库，提供高性能、易于使用的数据结构和数据分析工具。

Pandas 名字衍生自术语 "panel data"（面板数据）和 "Python data analysis"（Python 数据分析）。

Pandas 一个强大的分析结构化数据的工具集，基础是 Numpy（提供高性能的矩阵运算）。

Pandas 可以从各种文件格式比如 CSV、JSON、SQL、Microsoft Excel 导入数据。

Pandas 可以对各种数据进行运算操作，比如归并、再成形、选择，还有数据清洗和数据加工特征。

Pandas 广泛应用在学术、金融、统计学等各个数据分析领域。

Pandas 的主要数据结构是
Series （一维数据）与 DataFrame（二维数据），

这两种数据结构足以处理金融、统计、社会科学、工程等领域里的大多数典型用例。

#### DataFrame是一个表格型的数据结构，它含有一组有序的列，每列可以是不同的值类型（数值、字符串、布尔值）等。
DataFrame是一种表格型数据结构，它含有一组有序的列，每列可以是不同的值。DataFrame既有行索引，也有列索引，它可以看作是由Series组成的字典，不过这些Series公用一个索引。
DataFrame的创建有多种方式，不过最重要的还是根据dict进行创建，以及读取csv或者txt文件来创建。

* DataFrame 的创建
    * 字典创建：其中字典的键转化为列名，字典的值转化为列值，而索引为默认值，即从0开始从小到大排列
    * 二维数组创建: 如未指定，则列名和索引都为默认值，如指定则为对应的值

In [1]:
import pandas as pd
import numpy  as np

d1  = {'a':[2,2,np.nan,5,6],'b':['k1','k2','k3',np.nan,'k4'],
       'c':[4,5,6,7,np.nan]}
df1 = pd.DataFrame(d1)

In [2]:
df1

     a    b    c
0  2.0   k1  4.0
1  2.0   k2  5.0
2  NaN   k3  6.0
3  5.0  NaN  7.0
4  6.0   k4  NaN

In [3]:
ar1 = np.array([[1,2,3,4],[5,6,7,8]])
df2 = pd.DataFrame(ar1)
df2

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [4]:
df3 = pd.DataFrame(ar1,columns=['a','b','c','d'],index=['A','B']) # 设置列名和索引

In [5]:
df3

   a  b  c  d
A  1  2  3  4
B  5  6  7  8

In [8]:
df4 = df2.rename(columns={0:'a',1:'b',2:'c'}) # 修改已有的列名

In [9]:
df4

   a  b  c  3
0  1  2  3  4
1  5  6  7  8

* DataFrame对象具有3个属性，分别为列名、索引和值

* DataFrame方法
    * sort_values()方法，指定列按值进行排序
    * sort_index()方法，按照索引进行排序
    * set_index()方法，可以指定某一列为索引
    * dorp()方法，可以删掉数据集中的指定列
    * dorpna()方法，可以去掉数据集中的空值
    * fillna()方法，可以对数据框中的空值（nan值）进行填充
    * 可以对数据框中各列求和、求平均值、标准差或者进行描述性统计等

* DataFrame切片
    * iloc根据数值索引来进行切片
    * loc 根据索引值和列名来进行切片

* 时间索引，金融数据常常是时间序列，需要对时间索引做对应的处理
    * date_range（）方法，生成指定条件的时间序列
    * to_datetime（）方法，将字符串格式的时间转化为时间格式的时间数据
    * resample（）方法，对时间序列进行重采样

* 常用函数
    * 滚动计算函数 rolling().max()/min()...
    * 合并函数 concat(), 按照行或者列方向合并
    * 关联函数 merge(),指定关联字段进行连接
    * apply（）函数，通过传入的指定函数，逐行/列遍历计算后返回