### 1. 异常值
* 经验给定某一些范围的值为异常值（如分红后的股票价格数据跳水，可以做复权处理）
* 3sigma原则确认，[均值-3sigma ，均值 + 3sigma]区间之外的值为异常值

In [5]:
import pandas  as pd
import numpy as np
import tushare  as ts

In [7]:
pro = ts.pro_api('eb13b3bfd2bd07fd9eb40234f19941c73f230e1e98cc212b8cd407c7')
#data = pro.daily(ts_code='000001.SZ',start_date='20180101',end_date='20201231')
data0=pd.read_excel('000027.xls')

data0

,股票代码,股票名称,日期,开盘价,最高价,最低价,收盘价,涨跌额,涨跌幅(%),成交量(手),成交金额(万元),振幅,换手率
0,27,深圳能源,2020-03-31,5.44,5.46,5.37,5.38,-0.03,-0.55,"45,408","2,456",1.66,0.11
1,27,深圳能源,2020-03-30,5.36,5.44,5.33,5.41,-0.01,-0.18,"62,473","3,365",2.03,0.16
2,27,深圳能源,2020-03-27,5.43,5.47,5.39,5.42,0.02,0.37,"63,996","3,476",1.48,0.16
3,27,深圳能源,2020-03-26,5.39,5.43,5.37,5.40,-0.04,-0.74,"50,012","2,697",1.10,0.13
4,27,深圳能源,2020-03-25,5.49,5.50,5.40,5.44,0.04,0.74,"72,609","3,945",1.85,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,27,深圳能源,2021-04-08,10.87,10.87,9.98,10.14,-0.81,-7.40,"2,133,160","218,642",8.13,4.48
349,27,深圳能源,2021-04-07,10.25,11.48,10.19,10.95,0.47,4.48,"2,658,207","291,415",12.31,5.59
350,27,深圳能源,2021-04-06,10.18,10.85,10.07,10.48,0.33,3.25,"2,391,141","248,786",7.68,5.03
351,27,深圳能源,2021-04-02,10.74,10.91,10.08,10.15,-0.54,-5.05,"2,302,248","238,152",7.76,4.84
352,27,深圳能源,2021-04-01,10.81,11.06,10.50,10.69,-0.53,-4.72,"2,350,516","252,008",4.99,4.94

In [8]:
data0['日期']=pd.to_datetime(data0['日期'])
data=pd.DataFrame(data=data0,columns=['日期', '开盘价','最高价','最低价','收盘价','涨跌额','涨跌幅(%)','成交量(手)','成交金额(万元)','振幅','换手率'])
#appl.set_index(keys='日期')
data = data.set_index('日期').sort_index()
data

,开盘价,最高价,最低价,收盘价,涨跌额,涨跌幅(%),成交量(手),成交金额(万元),振幅,换手率
日期,,,,,,,,,,
2020-01-02,6.26,6.28,6.22,6.23,0.02,0.32,"91,728","5,731",0.97,0.23
2020-01-03,6.24,6.26,6.20,6.26,0.03,0.48,"79,114","4,931",0.96,0.20
2020-01-06,6.24,6.28,6.21,6.24,-0.02,-0.32,"111,752","6,981",1.12,0.28
2020-01-07,6.24,6.35,6.22,6.31,0.07,1.12,"130,867","8,237",2.08,0.33
2020-01-08,6.29,6.29,6.11,6.14,-0.17,-2.69,"150,504","9,321",2.85,0.38
...,...,...,...,...,...,...,...,...,...,...
2021-06-11,10.16,10.94,10.16,10.66,0.51,5.02,"1,425,118","151,768",7.68,3.00
2021-06-15,10.66,10.78,10.30,10.44,-0.22,-2.06,"918,688","96,353",4.50,1.93
2021-06-16,10.30,10.31,9.53,9.70,-0.74,-7.09,"1,130,270","111,025",7.47,2.38
2021-06-17,9.65,9.98,9.48,9.83,0.13,1.34,"627,897","61,601",5.15,1.32
2021-06-18,9.62,9.77,9.30,9.60,0.03,0.31,"765,926","72,974",4.91,1.61

##  describe()函数

* 该函数的返回值包括有均值、标准差、最大值、最小值、分位数等。
* 其中的分位数默认的分位数为[1/4、1/2、3/4]，若要重新指定，可用percentiles参数指定，如percentiles = [0.6,0.8]。

In [9]:
data.describe()

,开盘价,最高价,最低价,收盘价,涨跌额,涨跌幅(%),振幅,换手率
count,353.000000,353.000000,353.000000,353.000000,353.000000,353.000000,353.000000,353.000000
mean,6.440085,6.584334,6.324958,6.457904,0.013059,0.231530,3.496374,1.159037
std,1.792078,1.933783,1.691593,1.814389,0.259380,3.063069,2.869359,1.665884
min,4.440000,4.470000,4.390000,4.410000,-1.110000,-9.980000,0.540000,0.100000
25%,5.460000,5.510000,5.400000,5.450000,-0.060000,-1.080000,1.600000,0.230000
50%,5.650000,5.710000,5.580000,5.660000,0.000000,0.000000,2.610000,0.380000
75%,6.160000,6.260000,6.080000,6.160000,0.060000,0.970000,4.270000,1.160000
max,12.350000,12.660000,11.370000,12.130000,1.100000,10.050000,15.090000,9.350000

In [10]:
low = data['收盘价'].mean() - 3 * data['收盘价'].std()
high = data['收盘价'].mean() + 3 * data['收盘价'].std()

In [11]:
data1 = data[~ ((data['收盘价']<low)|(data['收盘价']>high))]

In [12]:
data1

,开盘价,最高价,最低价,收盘价,涨跌额,涨跌幅(%),成交量(手),成交金额(万元),振幅,换手率
日期,,,,,,,,,,
2020-01-02,6.26,6.28,6.22,6.23,0.02,0.32,"91,728","5,731",0.97,0.23
2020-01-03,6.24,6.26,6.20,6.26,0.03,0.48,"79,114","4,931",0.96,0.20
2020-01-06,6.24,6.28,6.21,6.24,-0.02,-0.32,"111,752","6,981",1.12,0.28
2020-01-07,6.24,6.35,6.22,6.31,0.07,1.12,"130,867","8,237",2.08,0.33
2020-01-08,6.29,6.29,6.11,6.14,-0.17,-2.69,"150,504","9,321",2.85,0.38
...,...,...,...,...,...,...,...,...,...,...
2021-06-11,10.16,10.94,10.16,10.66,0.51,5.02,"1,425,118","151,768",7.68,3.00
2021-06-15,10.66,10.78,10.30,10.44,-0.22,-2.06,"918,688","96,353",4.50,1.93
2021-06-16,10.30,10.31,9.53,9.70,-0.74,-7.09,"1,130,270","111,025",7.47,2.38
2021-06-17,9.65,9.98,9.48,9.83,0.13,1.34,"627,897","61,601",5.15,1.32
2021-06-18,9.62,9.77,9.30,9.60,0.03,0.31,"765,926","72,974",4.91,1.61

### 2. 重复值
* 在Pandas中 duplicated()方法发现重复值（返回bool型数组,F非重复，T重复)
* drop_duplicates()方法移除重复值

In [13]:
df = pro.query('fina_indicator', ts_code='600000.SH', 
               start_date='20170101', end_date='20201231')
df

,ts_code,ann_date,end_date,eps,dt_eps,total_revenue_ps,revenue_ps,capital_rese_ps,surplus_rese_ps,undist_profit_ps,...,ocf_yoy,roe_yoy,bps_yoy,assets_yoy,eqt_yoy,tr_yoy,or_yoy,q_sales_yoy,q_op_qoq,equity_yoy
0,600000.SH,20210327,20201231,1.88,1.73,6.6907,6.6907,2.7855,4.8630,6.4063,...,284.1595,-14.0780,6.95,13.4784,15.2269,2.9871,2.9871,7.5640,-16.9537,15.2269
1,600000.SH,20201031,20200930,1.45,1.33,5.0672,5.0672,2.7855,4.8630,5.9753,...,411.4798,-12.7714,3.86,9.5426,3.4467,1.6019,1.6019,-2.9987,40.9211,6.0865
2,600000.SH,20200829,20200630,0.96,0.88,3.4549,3.4549,2.7855,4.8630,5.4870,...,1296.4787,-21.3298,2.20,7.3534,1.9920,3.9017,3.9017,-3.2242,-37.9783,14.6376
3,600000.SH,20200829,20200630,0.96,0.88,3.4549,3.4549,2.7855,4.8630,5.4870,...,1296.4787,-21.3298,2.20,7.3534,1.9920,3.9017,3.9017,-3.2242,-37.9783,14.6376
4,600000.SH,20200425,20200331,0.56,0.52,1.8883,1.8883,2.7855,4.2861,6.3795,...,-50.1825,-10.4396,4.34,4.2059,3.8977,10.6621,10.6621,10.6621,71.4227,17.7756
5,600000.SH,20200425,20191231,1.95,1.92,6.4966,6.4966,2.7855,4.2861,5.8166,...,79.7175,-10.2956,11.83,11.3890,17.4524,11.6016,11.6016,0.6521,-38.0127,17.4524
6,600000.SH,20200425,20191231,1.95,1.92,6.4966,6.4966,2.7855,4.2861,5.8166,...,79.7175,-10.2956,11.83,11.3890,17.4524,11.6016,11.6016,0.6521,-38.0127,17.4524
7,600000.SH,20191030,20190930,1.62,1.62,4.9873,4.9873,2.7855,4.2861,5.4908,...,81.1649,-5.6488,8.70,7.9665,14.5298,15.4009,15.4009,8.8340,2.9506,18.6028
8,600000.SH,20190824,20190630,1.07,1.07,3.3251,3.3251,2.7855,4.2861,4.9383,...,108.5853,0.5419,4.78,5.8875,4.4963,18.9898,18.9898,11.5585,-1.9664,11.7748
9,600000.SH,20190430,20190331,0.53,0.53,1.7063,1.7063,2.7855,3.7380,5.3069,...,751.9231,0.8395,3.85,4.1333,3.6127,27.0168,27.0168,27.0168,33.9688,14.0998
10,600000.SH,20190326,20181231,1.85,1.85,5.8443,5.8443,2.7855,3.7380,4.7768,...,-140.5295,-7.0350,11.73,2.4826,10.8504,1.7335,1.7335,2.9781,-13.9012,10.8504
11,600000.SH,20181031,20180930,1.44,1.44,4.3305,4.3305,2.7855,3.7380,4.3764,...,-268.0263,-5.4701,7.57,-0.7829,7.0437,1.3055,1.3055,8.2726,-1.7879,9.1073
12,600000.SH,20180830,20180630,0.95,0.95,2.8024,2.8024,2.7855,3.7380,3.8790,...,53.8738,-10.9617,3.93,-0.7411,3.6321,-2.1286,-2.1286,3.7153,-0.2689,13.9222
13,600000.SH,20180428,20180331,0.46,0.46,1.3501,1.3501,2.7855,3.2093,4.0346,...,75.7551,-12.2098,0.74,-0.0692,0.6620,-7.7215,-7.7215,-7.7215,4.5730,12.6714
14,600000.SH,20180428,20171231,1.84,1.84,5.7447,5.7447,2.7855,3.2093,4.0817,...,26.7301,-11.6185,11.97,4.7800,15.6156,4.8763,4.8763,10.0374,-8.8137,15.6156
15,600000.SH,20171028,20170930,1.45,1.45,4.2507,4.2507,2.7855,3.2093,3.6944,...,34.3209,-11.2242,9.73,3.5268,13.4288,3.1754,3.1754,6.8583,2.0190,15.9937
16,600000.SH,20170830,20170630,0.97,0.97,2.9659,2.9659,2.4264,3.3518,3.3708,...,-90.9943,-6.0819,5.57,0.9925,5.1725,1.4384,1.4384,2.5337,-4.4246,12.0243
17,600000.SH,20170427,20170331,0.63,0.63,1.9595,1.9595,3.4544,3.6400,5.1276,...,-97.8441,-6.0813,3.58,0.5532,3.2923,0.4006,0.4006,0.4006,13.9274,10.6050

In [21]:
df[['ts_code','ann_date']].duplicated()

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
dtype: bool

In [22]:
df[['ts_code','ann_date']].drop_duplicates(keep='last')

      ts_code  ann_date
0   600000.SH  20210327
1   600000.SH  20201031
2   600000.SH  20200829
4   600000.SH  20200425
5   600000.SH  20191030
6   600000.SH  20190824
7   600000.SH  20190430
8   600000.SH  20190326
9   600000.SH  20181031
10  600000.SH  20180830
12  600000.SH  20180428
13  600000.SH  20171028
14  600000.SH  20170830
15  600000.SH  20170427